#root {
    max-width: 1200px;
    margin: 0 auto;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.card {
    margin: 1rem;
    border: 1px solid gray;
}

/* h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  } */

#us{
    float: left;
    margin-left: 0;
    margin-right: 4;

}

#git{
    float: left;
    margin-left: 4;
    margin-right: 4;
}


.pagenumbers {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.pagenumbers button {
	width: 30px;
	height: 30px;

	appearance: none;
    border: none;
    border-radius: 4px;
	outline: none;
	cursor: pointer;

	background-color: rgb(211, 28, 52);

	margin: 5px;
	transition: 0.4s;

	color: #FFF;
	font-size: 18px;
	text-shadow: 0px 0px 4px rgba(87, 128, 204, 0.2);
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.pagenumbers button:hover {
	background-color: rgb(62, 171, 211);
}

.pagenumbers button.active {
	background-color: rgb(182, 204, 212);
	box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.2);
}


@media screen and (min-width: 600px) {
    .card {
        flex: 1 1 calc(50% - 2rem);
    }
}

@media screen and (min-width: 900px) {
    .card {
        flex: 1 1 calc(33% - 2rem);
    }
}

/* CAROUSEL SPLASH PAGE */
#rep_btn {
    position: absolute;
    top: 32%;
    left: 20%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  #sen_btn {
    position: absolute;
    top: 32%;
    left: 80%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  #legis_btn {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    /* background-color: #555; */
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  #custom-container {
	width: 1500px;
	height: 550;
	/* background-color: #969696; */
	margin: 0 auto;
	padding: 0;
}
  .view h4, #states_caption {
    /* font-family:    Garamond; */
    color:          black !important;
    width: 450px;
    margin-left: -225px;
    position: absolute;
    top: 28%;
    left: 50%;
    }
    /* #legis-caption {
        color:          black !important;
        } */
        
/* .view p {
    font-family:    Garamond;
    color:          black !important;
    width: 500px;
    margin-left: -250px;
    position: absolute;
    top: 30%;
    left: 50%;
    } */

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  /* outline: black; */
  background-size: 100%, 100%;
  border-radius: 50%;
  /* border: 1px solid black; */
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: black;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: black;
}